body {
  margin: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 63);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 44, 44);
}
